
  .brand-logo{
  color:white;
}

.navbar{
  opacity:0.8;
  background-color: black !important;
}

.content-row{

  background-color: rgb(247, 249, 249);
}

@media only screen and (min-width: 300px) and (max-width: 400px)
{
.content{
  text-align: center;
  position:relative;
  left:20%;
}
.content-column-1{
  padding-top:45px;
  text-align: center;
}
.content-column-2{
  padding-top:45px;
  text-align: center;
}
.content-column-3{
  padding-top: 45px;
  padding-bottom:45px;
  text-align: center;
}
.aboutus{
  position: relative;
  height:400px;
  background-color: rgba(81, 99, 127,1);
}
.members{
  position: relative;
  height:400px;
  background-color:rgb(224, 187, 4);
}
.mobile{
  padding-top: 53px;
}
.mn{right:10px;}.mp{left:10px;}

.events{
  background-color: black;
  height:400px;
}
}

@media only screen and (min-width: 400px) and (max-width: 800px)
{
.content{
  text-align: center;
  position:relative;
  left:25%;
}
.content-column-1{
  padding-top:45px;
  text-align: center;
}
.content-column-2{
  padding-top:45px;
  text-align: center;
}
.content-column-3{
  padding-top: 45px;
  padding-bottom:45px;
  text-align: center;
}
.aboutus{
  position: relative;
  height:400px;
  background-color: rgba(81, 99, 127,1);

}
.members{
  position: relative;
  height:400px;
  background-color:rgb(224, 187, 4);
}
.big-screens{padding-top:50px;}

.events{
  background-color: black;
  height:400px;
}

}
@media only screen and (min-width: 800px) and (max-width: 1500px)
{
.content{
  text-align: center;
  position:relative;
  left:23%;
}
.content-column-1{
  padding-top:45px;
  text-align: center;
}
.content-column-2{
  padding-top:45px;
  text-align: center;
}
.content-column-3{
  padding-top: 45px;
  padding-bottom:45px;
  text-align: center;
}
.aboutus{
  position: relative;
  height:400px;
  background-color: rgb(81, 99, 127);
}
.members{
  position: relative;
  height:600px;
  background-color:rgb(224, 187, 4);
}

.events{

  background-color: black;
  height:800px;

}
.big-screens{
  padding-top: 55px;
}
.contact{
  background-color: rgb(85, 87, 89);
  height:250px;
}
.icon-row{
  padding-top: 47px;
}
}



.btn-block{
  opacity:0.8;
  background-color: black !important;
  color:white;
}

.section-heading{
  padding-top:35px;
  color:white;
  border-bottom: 6px solid white;
}
.r1{
  padding-top: 10px;
}
.r2{
  padding-top: 50px;
}
.fa-5x:hover{
  color:white;
}
