body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100;
  overflow-y: hidden;
}
a{
  text-decoration: none !important;
  color:inherit;
}
a:hover{
  color:inherit;
}

/*loader*/
.loading{
  position: relative;
  opacity:1;
  background-image: url("assets/Front_page/white.jpeg");
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  z-index: 200;
  width:150px;
  height:150px;

}
.loadin{
  overflow:auto;
  border-radius: 50%;
  position: relative;
  top:25px;
  z-index: 2;

}
.loadin1{
  position: absolute;
  opacity:1;
  top:4px;
  right:3%;
  border-radius: 50%;
  border: 8px dashed black;
  padding:4px;
  animation: spin 10s linear infinite;
  width:140px;
  height:140px;
}
@keyframes spin {
100% {
  transform: rotateZ(360deg);
}}

?
/*BANNERS*/

#banner-set{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.left-banner{

  float:left;
  background-color:black;
  width: 50%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: black;
    transition: 0.8s all;
}
.right-banner{
  width: 50%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right:0;
    float:right;
    background-color: black;
    transition: 0.8s all;
}

/*FONTS*/
.nav-link{
    font-family: 'Acme', sans-serif;
}
.section-heading{
  font-family: 'Caveat', cursive;
}
.btn-enroll{
  font-family: 'Permanent Marker', cursive;
}
.faq-ques{
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
}
.faq-ans{
  font-family: 'Caveat', cursive;
}

.card-text{
  font-family: 'Permanent Marker', cursive;
}
.button-rules{

  font-family: 'Permanent Marker', cursive;
}
.links{
font-family: 'Caveat', cursive;
}
.foot-head{
    font-family: 'Permanent Marker', cursive;
}
.quote{
font-family: 'Caveat', cursive;
}
.coming-soon{
  font-family: 'Caveat', cursive;
}


/*CSS*/

#logo{
display:block;
  opacity:1;
  transition: opacity 0.5s;
}
  .brand-logo{
  color:white;
}

.navbar{
visibility: hidden;
  background-color: black !important;
  opacity:0;
  transition: opacity 0.5s;
}

.content-row{
visibility: hidden;
  background-color: rgb(247, 249, 249);
  opacity:0;
  transition: opacity 0.5s;
}
.aboutus{
  visibility: hidden;

  opacity:0;
  transition: opacity 0.5s;
}
.member-section{
  visibility: hidden;

}
.events{
  visibility: hidden;
  overflow-x: hidden;
}
.foot{
  visibility: hidden;
  overflow-x: hidden;
  box-shadow: 0px -4px rgba(0, 0, 0, 0.19);
}
.foot2{
  visibility: hidden;
  overflow-x: hidden;
    box-shadow: 0px -10px rgba(0, 0, 0, 0.19);
}
#homerow{
  visibility: hidden;
  style.opacity="0";
}
#enroll-button{
visibility: hidden;
  style.opacity="0";
}
#top{
  visibility: hidden;
}
#videogallery{
  display:none;
  position: relative;
}
.video-container{
  position: absolute;
  background-color: black;
  color:white;
  z-index: 50;
  margin-left: 22%;
  width:60%;
  height:100px;

}
.coming-soon{
  padding-top:35px;
}

.car-img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.car-b-img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 300px) and (max-width: 400px)
{
  .loading{
    margin-top: 50%;
  }
  #navbarLogo{
width:180px;
height:auto;

  }
  .about_us_content{
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    font-family: 'Butterfly Kids', cursive;
    font-size:23px;
  }

  .fixing-space{
  background-color: rgb(247, 249, 249);
    height:92px;
  }
.brand-logo{
  padding-top: 5px;
  font-size: 25px;
}
.icon{
  position: relative;
  font-size: 15px;

}
.content{
  position:relative;
 margin-right: auto;
 margin-left: auto;
}
.content-column-1{
  padding-top:45px;
  text-align: center;
}
.content-column-2{
  padding-top:45px;
  text-align: center;
}
.content-column-3{
  padding-top: 45px;
  padding-bottom:45px;
  text-align: center;
}

.aboutus{
  position: relative;
  height:60%;
  background-color: #4B77BE;
}
.members{
  position: relative;
  height:580px;
  background-color:#FFB61E;
}
.car-img{
  padding-left:15px;
  padding-right: 15px;
}
.mobile{

  padding-top: 53px;
}
.mn{right:5%;}.mp{left:5%;}

.events{
  background-color: #C91F37;
  height:480px;

}
.event_image{
  padding-left:10px;
  padding-right: 10px;
  padding-top: 10px;
}
.faq{
position:fixed;
margin-left: 10%;
margin-right: 10%;
  z-index: 100;
  width:80%;
  display: none;
top:95px;
}
.faq-ques{
  position: relative;
  width:100%;
  height:auto;
  overflow: scroll;
  word-wrap: break-word;
}
.close_icon{
  position:fixed;
  z-index: 100;
  top:98px;
  right:11%;
  cursor: pointer;
  transition: all 1s;
}
.section-heading{
  padding-top:25px;
  color:white;
}
.back-to-front-from-gallery{
  cursor: pointer;
  font-size:25px;
  color:white;
  position: absolute;
  margin-top: 18%;
  left:90%
}
}
@media only screen and (min-width: 400px) and (max-width: 800px)
{
  .loading{
    margin-top: 50%;
  }
  .fixing-space{
      background-color: rgb(247, 249, 249);
    height:120px;
  }


  #navbarLogo{
width:250px;
height:auto;
  }
  .about_us_content{
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    font-family: 'Butterfly Kids', cursive;
    font-size:23px;
  }
.content{
  position:relative;
 margin-right: auto;
 margin-left: auto;
}
.content-column-1{
  padding-top:45px;
  text-align: center;
}
.content-column-2{
  padding-top:45px;
  text-align: center;
}
.content-column-3{
  padding-top: 45px;
  padding-bottom:45px;
  text-align: center;
}

.aboutus{
  position: relative;
  height:60%;
  background-color: #4B77BE;

}
.members{
  position: relative;
  height:630px;
  background-color:#FFB61E;
}
.car-img{
  padding-left:15px;
  padding-right: 15px;
}

.big-screens{padding-top:50px;}

.events{
  background-color: #C91F37;
  height:560px;
}
.event_image{
  padding-left:10px;
  padding-right: 10px;
  padding-top: 10px;
}
.mobile{

  padding-top: 50px;
}
.faq{
position:fixed;
margin-left: 10%;
margin-right: 10%;
  z-index: 100;
  width:80%;
  display: none;
top:270px;
}
.close_icon{
  position:fixed;
  z-index: 100;
  top:273px;
  right:11%;
  cursor: pointer;
  transition: all 1s;
}
.section-heading{
  padding-top:45px;
  color:white;
}
.back-to-front-from-gallery{
  cursor: pointer;
  font-size:25px;
  color:white;
  position: absolute;
  margin-top: 18%;
  left:90%
}
}
@media only screen and (min-width: 801px) and (max-width: 1199px)
{
  .loading{
    margin-top: 25%;
  }
  .fixing-space{
      background-color: rgb(247, 249, 249);
    height:120px;
  }
  #navbarLogo{
    position: relative;
    left:40px;
width:250px;
height:auto;

  }
  .about_us_content{
    padding-top:20px;
    padding-left: 50px;
    padding-right: 50px;
    color:white;
    font-family: 'Butterfly Kids', cursive;
    font-size:23px;
  }
.content{
  position:relative;
 margin-right: auto;
 margin-left: auto;
}
.content-column-1{
  padding-top:45px;
  text-align: center;
}
.content-column-2{
  padding-top:45px;
  text-align: center;
}
.content-column-3{
  padding-top: 45px;
  padding-bottom:45px;
  text-align: center;
}
.aboutus{
  position: relative;
  height:60%;
  background-color: #4B77BE;
}
.members{
  position: relative;
  height:900px;
  background-color:#FFB61E;
}
.car-img{
  padding-left:15px;
  padding-right: 15px;
}

.events{

  background-color: #C91F37;
  height:800px;

}

.big-screens{
  padding-top: 55px;
}

.foot{
  background-color: #6C7A89;

}
.event_image{
  padding-top:85px;
}
.row-foot{
  padding-top: 10px;
}
.faq{
position:fixed;
margin-left: 10%;
margin-right: 10%;
  z-index: 100;
  width:80%;
  display: none;
top:270px;
}
.close_icon{
  position:fixed;
  z-index: 100;
  top:273px;
  right:11%;
  cursor: pointer;
  transition: all 1s;
}
.section-heading{
  padding-top:85px;
  color:white;
}
.back-to-front-from-gallery{
  cursor: pointer;
  font-size:40px;
  color:white;
  position: absolute;
  margin-top: 6%;
  left:10%
}
.quote{
  color:white;
  padding-top: 5px;
  font-size: 13px;
}
}
@media only screen and (min-width: 1200px) and (max-width: 1500px)
{
  .loading{
    margin-top: 23%;
  }
  .gallery-heading{
    margin-left: ;
  }
  .fixing-space{
      background-color: rgb(247, 249, 249);
    height:140px;
  }
  #navbarLogo{
    position: relative;
    left:100px;
width:300px;
height:auto;

  }
  .about_us_content{
    padding-top:40px;
    padding-left: 50px;
    padding-right: 50px;
    color:white;
    font-family: 'Butterfly Kids', cursive;
    font-size:23px;
  }
.content{
  position:relative;
  margin-right: auto;
  margin-left: auto;
}
.content-column-1{
  padding-top:45px;
  text-align: center;
}
.content-column-2{
  padding-top:45px;
  text-align: center;
}
.content-column-3{
  padding-top: 45px;
  padding-bottom:45px;
  text-align: center;
}
.aboutus{

  position: relative;

  height:400px;
  background-color: #4B77BE;
}
.members{
  position: relative;
  height:1100px;
  background-color:#FFB61E;
}
.car-img{
  padding-left:15px;
  padding-right: 15px;
}

.events{

  background-color: #C91F37;
  height:850px;

}
.event_image{
  padding-top: 20px;
}
.big-screens{
  padding-top: 55px;
}

.foot{
  background-color: #6C7A89;

}
.row-foot{
  padding-top: 10px;
}

.faq{
position:fixed;
margin-left: 10%;
margin-right: 10%;
  z-index: 100;
  width:80%;
  display: none;
top:270px;

}
.close_icon{
  position:fixed;
  z-index: 100;
  top:273px;
  right:11%;
  cursor: pointer;
  transition: all 1s;
}
.section-heading{
  padding-top:85px;
  color:white;
}
.back-to-front-from-gallery{
  cursor: pointer;
  font-size:40px;
  color:white;
  position: absolute;
  margin-top: 6%;
  left:10%
}
.quote{
  color:white;
  padding-top: 5px;
}
}
.section-heading{
  border-bottom: 3px solid white;
}



.btn-enroll{
  opacity:0.8;
  background-color: black !important;
  color:white;
  transition: color 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-enroll:hover{

  color:grey;
}


.r1{
  padding-top: 10px;
}
.r2{
  padding-top: 60px;
}
.button-rules{
  opacity:1;
  background-color:white !important;
  color:black;
  transition: color 0.5s;
}
.button-rules:hover{
  color:grey;
}
.links{
  transition: color 0.5s;
  color:white;
}
.conlist{
  padding-top: 10px;

}

.i2 {
  color:white;
  transition: color 1s;
  padding-left:15px;
  padding-right: 15px;
}
.i1{
  color:white;
  transition: color 1s;
}
.i3{
  color:white;
  transition: color 1s;
  padding-right: 15px;
}
.i4{color:white;
transition: color 1s;}
.i1:hover{

  color: #1F4788;
}
.i2:hover{

  color:#C3272B;
}
.i3:hover{

  color:#FFA400;
}
.i4:hover{
  color:#26A65B;
}
.foot2{
background-color: #6C7A89;
}
.mlink1:hover{

  color:#1F4788;
}
.mlink2:hover{

  color:#C3272B;
}
.mlink3:hover{

  color:#FFA400;
}
.mlink4:hover{
  color:#26A65B;
}
.mlinks{
  transition: color 1s;
  color:white;
}
.links:hover{
  color:black;
}

.foot2-row{
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-box{
box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
transition: box-shadow 0.5s;
cursor: pointer;
}
.card-box:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close_icon:hover{
  background-color: black;
  color:white;
}

/* PHOTO GALLLERY SECTION*/

#photogallery{

display:none;

  background-color:#000000;
  vertical-align: middle;

}
.gallery{

position: fixed;
  margin-left: 10%;
  margin-right: 10%;
    z-index: 100;
    width:80%;
  top:180px;


}
#p1{
  display:block;
}
#p2{
  display: none;
}
.gallery-heading{
  position: relative;
  width: 400px;
  height:auto;
padding: 15px;

}
  .pagin{
    padding-top: 25px;
    color:white;
list-style-type: none;
  display: block;
}
.gallery-row{
  padding: 10px;
}
.gallery-container{
  border: solid white 6px;

}
.gallery-image{
  padding:10px;
  transition: padding 0.5s;
}
.gallery-image:hover{
  padding:0px;
}
.gallery-heading{
  color:white;
}
.pagin-element{
  display: inline-block;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
     background-color: #211E1E;
  color:white;
  cursor: pointer;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
}
.pagin-element:hover{
    background-color: grey;
    color:white;
}
.pagin-icons{
    padding-left:10px;
  padding-right:10px;

color:white;
}
